<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col home-hero mdl-card">
        <h1 class="mdl-typography--text-center">Social Media Tools For Fundraisers</h1>
        <p class="mdl-typography--subhead mdl-typography--text-center">As a fundraiser, we want to help you get the word out there.</p>
        <p class="mdl-typography--subhead mdl-typography--text-center">Charitweet is a set of social media tools so the world can know that you're trying to make a difference</p>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <h3 class="mdl-typography--text-center">Register With</h3>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-typography--text-center">
        <a href="#" class="mdl-button mdl-js-button mdl-button--raised button--twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
        </a>
        <a href="#" class="mdl-button mdl-js-button mdl-button--raised button--facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
        </a>
    </div>
</div>