<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col home-hero mdl-card">
        <h1 class="mdl-typography--text-center">Social Media Tools For Fundraisers</h1>
        <p class="mdl-typography--subhead mdl-typography--text-center">As a fundraiser, we want to help you get the word out there.</p>
        <p class="mdl-typography--subhead mdl-typography--text-center">Charitweet is a set of social media tools so the world can know that you're trying to make a difference</p>
    </div>
</div>
{{> auth}}