<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>New campaign</h3>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <form action="" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="campaign-name" name="name">
                <label class="mdl-textfield__label" for="campaign-name">Campaign Name</label>
            </div>
            <div id="posts">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" rows="3" id="post" name="post"></textarea>
                    <label class="mdl-textfield__label" for="post">Post</label>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="weekday" name="weekday">
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                    </select>
                    <label class="mdl-textfield__label" for="post">Weekday to post</label>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="time" id="post_time" name="post_time" placeholder="">
                    <label class="mdl-textfield__label" for="post_time">Time to post</label>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="date" id="end_date" name="end_date" placeholder="">
                    <label class="mdl-textfield__label" for="end_date">Run until</label>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                Save
            </button>
        </form>
    </div>
</div>