<!doctype html>
<html>
    <head>
        <title>Charitweet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Charitweet</span>
                </div>
                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="/queue" class="mdl-layout__tab">Social Media Post Queue</a>
                    <a href="/campaigns" class="mdl-layout__tab">Supporter Campaigns</a>
                </div>
            </header>
            <main class="mdl-layout__content">
                {{{content}}}
            </main>
        </div>
        <link rel="stylesheet" href="/css/material.min.css">
        <script src="/js/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </body>
</html>